body {
    background-image: url(../images/what-the-hex.png);
    color: #777777;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0px auto;
}

.stickyFooter {
    min-height: calc(100vh - 90px);
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 90px;
    width: 100%;
}

.logo {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 0px 20px;
    height: 90px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav{
    float: right;
    padding: 30px 0px;
}

.content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 30px 0px 0px 0px;
    padding: 10px 30px;
    line-height: 200%;
}

.contentHeader {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
    background-color: #666666;
    margin-top: 40px;
    border-top: 10px solid #4aaaa5;
    padding: 0px;
    height: 40px;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
}

.aboutPic {
    float: left;
    margin: 0px 15px 15px 0px;
}

a {
    color: #777777;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.portfolioWrapper {
    display: flow-root;
}

.portfolioItem {
    position: relative;
    text-align: center;
    color: #ffffff;
    height: 200px;
    width: 300px;
    margin: 15px;
    float: left;
}

.portfolioLabel {
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding: 10px 0px;
}

input[type=text] {
    width: 100%;
    margin: 5px;
    padding: 8px 5px;
    box-sizing: border-box;
    color: #888888;
}

textarea {
    width: 100%;
    margin: 5px;
    height: 150px;
    box-sizing: border-box;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 5px 8px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 20px;
    background-color: #dddddd;
    height: 3px;
    width: 100%;
    color: #dddddd;
    border: 0 none;
}

.hover-outline:hover {
    outline: 5px solid gray;
    outline-offset: 10px;
  }

#submit:hover {
    background-color: #2c6663;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@media screen and (max-width: 980px) {
    .content {
        width: 650px;
        margin-left: 55px;
    }

    .logo {
        margin-left: 55px;
    }

    .portfolioItem {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
   .wrapper {
       width: 100%;
   }

    .content {
        width: 660px;
        margin: 20px;
        padding: 10px 30px;
    }

    .logo {
        margin-left: 20px;
    }

    .nav {
        padding: 30px 25px 30px 0px;
    }

    .portfolioWrapper {
        width: 640px;
        margin: 0px;
        padding: 0px;
    }

}

@media screen and (max-width: 640px) {
   
    .wrapper{
       margin: 0px;
       padding: 0px;
   }
    header {
        height: 160px;
        position: static;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        clear: both;
        width: 100%;
        margin: 0px;
        text-align: center;
        height: 90px;
        padding: 5px 0px 0px 0px;
        float: none;
    }

    .nav {
        
        float: none;
        height: 60px;
        margin: 0px 0px 0px 0px;
        text-align: center;
        padding: 25px 0px 0px 0px;
    }

   .content {
       width: 475px;
       margin-left: 40px;
   }
   
   .aboutPic {
       float: none;
       height: 350px;
       width: 475px;
       padding: 0px;
       margin: 0px;
   }

   .portfolioWrapper {
       width: 475px;
   }

   .hover-outline {
       height: 300px;
       width: 450px;
   }

    .portfolioItem {
        height: 300px;
        width: 450px;
    }



}